.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.alignement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.taille {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black solid 1px;
  object-fit: cover;
}
h1 {
  color: black;
}

/* ---------------  RESPONSIVE ----------- */

@media screen and (max-width: 992px) {
  .alignement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .alignement {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .alignement {
    grid-template-columns: 1fr;
  }
}
