.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.alignement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  background-color: rgb(136, 4, 4);
  padding: 10px;
  border-radius: 15px;
}

.taille {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black solid 1px;
  object-fit: cover;
  margin-top: 15px;
}
.contentPortfolio {
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 74px;
  color: transparent;
  margin: 0;
  animation: txt-appearance 0s 1s forwards;
}
p span {
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-size: clamp(20px, 8vm, 120px);
}
p span::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  background: black;
  animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
/* animation de Portfolio*/
@keyframes slide-in {
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  100% {
    transform: translateX(100%);
  }
}
@keyframes txt-appearance {
  100% {
    color: white;
  }
}
.contentButton {
  width: 280px;
  display: flex;
  justify-content: space-between;
}
.button {
  padding: 9px 13px 5px 16px;
  color: white;
  border: 0;
  cursor: pointer;
  background: transparent;
  position: relative;
  transition: all 0.25s;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}
.button::after,
.button::before {
  border: 3px solid white;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: all 0.25s;
}
.button:hover::after {
  transform: translate(-4px, -4px);
}
.button:hover::before {
  transform: translate(4px, 4px);
}
button {
  opacity: 0;
  animation: animButton 0.75s linear;
  animation-fill-mode: forwards;
}
/* animation des boutons */
@keyframes animButton {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
button:nth-child(1) {
  animation-delay: 0.9s;
}
button:nth-child(2) {
  animation-delay: 1.1s;
}
button:nth-child(3) {
  animation-delay: 1.4s;
}
a {
  text-decoration: none;
  opacity: 0;
  animation: apparition 2s linear;
  animation-fill-mode: forwards;
}
/*animation des liens*/
@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: 5rem;
  }
  50% {
    margin-top: 3rem;
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    margin-top: 2rem;
  }
}
a:nth-child(1) {
  animation-delay: 1.5s;
}
a:nth-child(2) {
  animation-delay: 1.7s;
}
a:nth-child(3) {
  animation-delay: 1.9s;
}
a:nth-child(4) {
  animation-delay: 2.1s;
}
a:nth-child(5) {
  animation-delay: 2.3s;
}
a:nth-child(6) {
  animation-delay: 2.5s;
}
a:nth-child(7) {
  animation-delay: 2.7s;
}
a:nth-child(8) {
  animation-delay: 2.9s;
}
a:nth-child(9) {
  animation-delay: 3.1s;
}
a:nth-child(10) {
  animation-delay: 3.3s;
}
.link {
  transition-duration: 1s;
}
.link:hover {
  background-color: beige;
  border-radius: 25px;
}
.contentGithub {
  height: 40px;
}

h2 {
  font-size: 16px;
  color: white;

  width: 225px;
  margin-bottom: 10px;
  text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
    0 0 2px black;
}
.github {
  width: 300px;
  margin-top: 60px;
  margin-bottom: 30px;
  transition-duration: 0.8s;
  transition-property: transform;
}
.github:hover {
  transform: rotateX(360deg);
  background-color: beige;
  padding: 15px;
  border-radius: 20px;
}
/* ---------------  RESPONSIVE ----------- */

@media screen and (max-width: 992px) {
  .alignement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .alignement {
    grid-template-columns: 1fr 1fr;
  }
  .App-header {
    justify-content: flex-start;
    height: 2000px;
  }
  .github {
    margin-top: 90px;
  }
}
@media screen and (max-width: 576px) {
  .App-header {
    height: 3700px;
  }
  .alignement {
    grid-template-columns: 1fr;
  }
  .github {
    margin-top: 90px;
  }
}
