.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.alignement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  height: 995px;
}

.taille {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: black solid 1px;
  object-fit: cover;
  margin-top: 15px;
}
h1 {
  color: black;
}
a {
  text-decoration: none;
  opacity: 0;
  animation: apparition 2s linear;
  animation-fill-mode: forwards;
}
@keyframes apparition {
  0% {
    opacity: 0;
    margin-top: 5rem;
  }
  50% {
    margin-top: 3rem;
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    margin-top: 2rem;
  }
}
a:nth-child(1) {
  animation-delay: 0.2s;
}
a:nth-child(2) {
  animation-delay: 0.8s;
}
a:nth-child(3) {
  animation-delay: 1.4s;
}
a:nth-child(4) {
  animation-delay: 2s;
}
a:nth-child(5) {
  animation-delay: 2.6s;
}
a:nth-child(6) {
  animation-delay: 3.2s;
}
a:nth-child(7) {
  animation-delay: 3.8s;
}
a:nth-child(8) {
  animation-delay: 4.4s;
}
a:nth-child(9) {
  animation-delay: 5s;
}
a:nth-child(10) {
  animation-delay: 5.6s;
}
.link {
  transition-duration: 1s;
}
.link:hover {
  background-color: beige;
  border-radius: 25px;
}
h2 {
  font-size: 16px;
  color: black;
  width: 225px;
  margin-bottom: 10px;
}
.contentGithub {
  height: 40px;
}
.github {
  width: 300px;
  margin-top: 60px;
  margin-bottom: 30px;
  transition-duration: 0.8s;
  transition-property: transform;
}
.github:hover {
  transform: rotateX(360deg);
  background-color: beige;
  padding: 15px;
  border-radius: 20px;
}
/* ---------------  RESPONSIVE ----------- */

@media screen and (max-width: 992px) {
  .alignement {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .alignement {
    grid-template-columns: 1fr 1fr;
  }
  .App-header {
    justify-content: flex-start;
    height: 1800px;
  }
  .github {
    margin-top: 770px;
  }
}
@media screen and (max-width: 576px) {
  .alignement {
    grid-template-columns: 1fr;
  }
  .github {
    margin-top: 2200px;
  }
}
